<% include ../../partials/boilerplate %>

<div class="form-page">
<div class="cafe">

  <h1> Edit Cafe! </h1>

  <!-- name, animal, location -->


<!-- method said POST? -->
<!-- <form method="POST" action="/allcafes/?_method=PUT"> -->

<form action="/cafes/<%=cafe.id%>/favs/edit?_method=PUT" method="POST">



  <input name="name" type="text" value="<%= cafe.name %>" />
  <input name="animal" type="text" value="<%= cafe.animal %>" />
  <input name="location" type="text" value="<%= cafe.location %>" />

  <input type="submit" value="Edit it!" />
</form>

</div>
<a href="/cafes/allcafes"> Back to All Cafes </a>
</div>

<% include ../../partials/end %>


