
<% cafes.forEach( cafe => { %>
<div class="cafe">
 <p><%=cafe.name%> - <%=cafe.location%></p>

  <a href='/cafes/<%= cafe.id%>'>Learn more</a>

</div>
<% }) %>


<!-- <a href='/cafes/'> Return to Home</a>
 -->

