<% include ../../partials/boilerplate %>

<h1> Hedgehogs Cafes </h1>

<p> Featured Cafes:  </p>

<% cafes.forEach( cafe => { %>
<div class="cafe">
 <p><%=cafe.name%> - <%=cafe.location%></p>

  <a href='/cafes/<%= cafe.id%>'>Learn more</a>

</div>
<% }) %>


<br>

<a href="/cafes/allcafes"> Back to All Cafes </a>

<% include ../../partials/end %>
