<% include ../../partials/boilerplate %>

<h1> Food and Friends </h1>


<h3> Browse by Animals: </h3>
<ul>
<li><a href = "/cafes?animal=bunny"> Bunnies</a></li>
<li><a href = "/cafes?animal=cat"> Cats</a></li>
<li><a href = "/cafes?animal=dog"> Dogs</a></li>
<li><a href = "/cafes?animal=hedgehog"> Hedgehogs</a></li>
<li><a href = "/cafes?animal=reptile"> Reptiles</a></li>

</ul>

<!-- <h3><%#= `${animal} Cafes`%></h3> -->

<%# include allcafes %>


<% include ../../partials/end %>




<!-- <img src="<%#=house.img_url%>" /> -->
<!-- <a href="/<%#=cafe.id%>"> -->
