<% include ../../partials/boilerplate %>


<a href = "/cafes"> <h1> Food and Friends </h1> </a>

<div class = "flex-container">

  <h3> Browse by Animals: </h3>
    <ul>
      <li>
        <a href = "/cafes?animal=bunny"> Bunnies</a>
      </li>
      <li>
        <a href = "/cafes?animal=cat"> Cats</a>
      </li>
      <li>
        <a href = "/cafes?animal=dog"> Dogs</a>
      </li>
      <li>
        <a href = "/cafes?animal=hedgehog"> Hedgehogs</a>
      </li>
      <li>
        <a href = "/cafes?animal=reptile"> Reptiles</a>
      </li>

    </ul>

<h3><%= `${animal} Cafes`%></h3>



  <% include allcafes %>


<br>

<p> <b> Description: </b> Do you love caffeine and cuteness? Sweets and cutie pies? You're in the right place! Food and Friends is a CRUD web app list builder that allows you to browse through a database that gives information about animal cafes all over the world. You can add cafes to this list.  </p>

<p> <b> Food and Friends was created by Dara Sy </b> </p>

</div>




<% include ../../partials/end %>




<!-- <img src="<%#=house.img_url%>" /> -->
<!-- <a href="/<%#=cafe.id%>"> -->
