<% include ../../partials/boilerplate %>

<div class="form-page">
<div class="add">

  <h1> Add New Cafe! </h1>

  <!-- name, animal, location -->

<!-- <form action="/" method="POST"> -->
<!-- <form action="/cafes/allcafes" method="POST"> -->



  <form method="POST" action="/cafes">
  <input type="text" name="name" placeholder="Cafe Name" required/><br>
  <input type="text" name="animal" placeholder="Animal" required/><br>
  <input type="text" name="location" placeholder="Location" required/><br>



   <input type="submit" value="Add Cafe" />
</form>
</div>
  <a href='/cafes/'>Return to Home</a>
</div>


<% include ../../partials/end %>
