<div class="form-page">
<div class="add">

  <h1> Add New Cafe! </h1>

  <!-- name, animal, location -->

<form action="home/new" method="POST">
  <input type="text" name="name" placeholder="Cafe Name" required/><br>
  <input type="text" name="animal" placeholder="Animal" required/><br>
  <input type="text" name="location" placeholder="Location" required/><br>
<div class="cafe">
  <select name="cafe_id">
  <% cafes.forEach( cafe => { %>
   <option value="<%=cafe.id%>"><%=cafe.name%> - <%=cafe.location%></option>
  <% }) %>
  </select>

</div>
  <input type="submit" value="Add Cafe" />
</form>
</div>
<a href="/allcafes"> Back to Cafes </a>
</div>



