<h1> Reptiles Cafes </h1>

<p> Featured Cafes:  </p>

<% cafes.forEach( cafe => { %>
<div class="cafe">
 <p><%=cafe.name%> - <%=cafe.location%></p>
  <a href='/<%= cafe.id%>'>Learn more</a>

</div>
<% }) %>


<br>

<a href="/allcafes"> Back to All Cafes </a>
